# Copyright (c) 2024-2025, Muammer Bay (LycheeAI), Louis Le Lay
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#
# Copyright (c) 2022-2026, The Isaac Lab Project Developers.
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

seed: 42

models:
  separate: True
  policy:
    class: GaussianMixin
    clip_actions: False
    clip_log_std: True
    min_log_std: -20.0
    max_log_std: 2.0
    initial_log_std: 0.0
    network:
      - name: net
        input: OBSERVATIONS
        layers: [256, 128, 64]
        activations: elu
    output: tanh(ACTIONS)
  critic_1:
    class: DeterministicMixin
    clip_actions: False
    network:
      - name: net
        input: concatenate([OBSERVATIONS, ACTIONS])
        layers: [256, 128, 64]
        activations: elu
    output: ONE
  critic_2:
    class: DeterministicMixin
    clip_actions: False
    network:
      - name: net
        input: concatenate([OBSERVATIONS, ACTIONS])
        layers: [256, 128, 64]
        activations: elu
    output: ONE
  target_critic_1:
    class: DeterministicMixin
    clip_actions: False
    network:
      - name: net
        input: concatenate([OBSERVATIONS, ACTIONS])
        layers: [256, 128, 64]
        activations: elu
    output: ONE
  target_critic_2:
    class: DeterministicMixin
    clip_actions: False
    network:
      - name: net
        input: concatenate([OBSERVATIONS, ACTIONS])
        layers: [256, 128, 64]
        activations: elu
    output: ONE

memory:
  class: RandomMemory
  memory_size: 100000

agent:
  class: SAC
  gradient_steps: 1
  batch_size: 4096
  discount_factor: 0.99
  polyak: 0.005
  learning_rate: [3.0e-4, 3.0e-4, 1.0e-5]
  state_preprocessor: RunningStandardScaler
  state_preprocessor_kwargs: null
  random_timesteps: 1000
  learning_starts: 1000
  grad_norm_clip: 1.0
  learn_entropy: True
  initial_entropy_value: 0.2
  target_entropy: -2.0
  rewards_shaper_scale: 1.0
  # logging and checkpoint
  experiment:
    directory: "soarm_lift"
    experiment_name: ""
    write_interval: auto
    checkpoint_interval: auto

trainer:
  class: SequentialTrainer
  timesteps: 480000
  environment_info: log
