# Copyright (c) 2024-2025, Muammer Bay (LycheeAI), Louis Le Lay
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#
# Copyright (c) 2022-2026, The Isaac Lab Project Developers.
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

seed: 42

models:
  separate: True
  policy:
    class: DeterministicMixin
    clip_actions: False
    network:
      - name: net
        input: OBSERVATIONS
        layers: [256, 128, 64]
        activations: elu
    output: tanh(ACTIONS)
  target_policy:
    class: DeterministicMixin
    clip_actions: False
    network:
      - name: net
        input: OBSERVATIONS
        layers: [256, 128, 64]
        activations: elu
    output: tanh(ACTIONS)
  critic_1:
    class: DeterministicMixin
    clip_actions: False
    network:
      - name: net
        input: concatenate([OBSERVATIONS, ACTIONS])
        layers: [256, 128, 64]
        activations: elu
    output: ONE
  critic_2:
    class: DeterministicMixin
    clip_actions: False
    network:
      - name: net
        input: concatenate([OBSERVATIONS, ACTIONS])
        layers: [256, 128, 64]
        activations: elu
    output: ONE
  target_critic_1:
    class: DeterministicMixin
    clip_actions: False
    network:
      - name: net
        input: concatenate([OBSERVATIONS, ACTIONS])
        layers: [256, 128, 64]
        activations: elu
    output: ONE
  target_critic_2:
    class: DeterministicMixin
    clip_actions: False
    network:
      - name: net
        input: concatenate([OBSERVATIONS, ACTIONS])
        layers: [256, 128, 64]
        activations: elu
    output: ONE

memory:
  class: RandomMemory
  memory_size: 10000

agent:
  class: TD3
  gradient_steps: 1
  batch_size: 512
  discount_factor: 0.99
  polyak: 0.005
  learning_rate: 3.0e-4
  state_preprocessor: RunningStandardScaler
  state_preprocessor_kwargs: null
  random_timesteps: 50
  learning_starts: 50
  grad_norm_clip: 1.0
  exploration_noise: GaussianNoise
  exploration_noise_kwargs:
    mean: 0.0
    std: 0.1
  smooth_regularization_noise: GaussianNoise
  smooth_regularization_noise_kwargs:
    mean: 0.0
    std: 0.2
  smooth_regularization_clip: 0.5
  rewards_shaper_scale: 1.0
  # logging and checkpoint
  experiment:
    directory: "soarm_lift"
    experiment_name: ""
    write_interval: auto
    checkpoint_interval: auto

trainer:
  class: SequentialTrainer
  timesteps: 480000
  environment_info: log
